{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1 class='display-3 text-center'>Register</h1>

    {% for cat,msg in get_flashed_messages(with_categories = true) %}
        <p class='alert alert-{{cat}}'>{{msg}}</p>
    {% endfor %}

    <form class='form-control' method='POST'>
        {{form.hidden_tag()}}

        {% for field in form if field.widget.input_type != 'hidden' %}
            <p>
                {{field.label}}
                {{field(class_='form-control')}}
            </p>
        {% endfor %}
            
        <button class='btn btn-success' type='submit'>Register</button>
    </form>
{% endblock %}