{% extends 'base.html' %}

{% block title %}Secret{% endblock %}

{% block content %}
    <h1 class='display-3 text-center'>
        Welcome, {{user.first_name}} {{user.last_name}}!
    </h1>

    {% for cat,msg in get_flashed_messages(with_categories = true) %}
        <p class='alert alert-{{cat}}'>{{msg}}</p>
    {% endfor %}

    <h3 class='display-6'>User Information:</h3>
    <ul>
        <p>
            <b>Username:</b> {{user.username}}<br>
            <b>Email:</b> {{user.email}}<br>
            <b>Name:</b> {{user.first_name}} {{user.last_name}}
        </p>
        
        <form action='/users/{{user.username}}/delete' method='POST'>
            <button type='submit' class='btn btn-danger'>Delete User <i class='fas fa-trash'></i></button>
        </form>
    </ul>

    <ul>
        {% for fback in feedback %}
            <div class="card my-3" style='padding:5px;'>
                <div class="card-body">
                    <h5 class='card-title text-info'>
                        {{fback.title}}
                    </h5>

                    <p class='card-text'>
                        {{fback.content}}
                    </p>

                    <form action='/feedback/{{fback.id}}/delete' method='POST' style='display: inline;'>
                        <button method='POST' class='btn btn-sm btn-danger'>
                            Delete Feedback <i class='fas fa-trash'></i>
                        </button>

                        <button formaction='/feedback/{{fback.id}}/edit' type='submit' class='btn btn-sm btn-warning'>
                            Edit Feedback <i class='fas fa-edit'></i>' 
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock %}